body {
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;

}
.highlight-header{
 padding: 7% 2% 7% 15%;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


.container-fluid{
padding: 0 0;
}

.colored-section {
  background-color: #7300e6;
  color: #fff;
}
.navbar {
  padding: 1 0 4.5rem;
}
@media (min-width:720px) {
  .navbar {
    display: table-cell;
    width: auto;
  }
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
#features{
  padding: 7% 5%;
}
.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
  }
.signupform{
  background-color: LightGrey;
  padding: 7% 15%;
}
